<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <form novalidate #searchForm="ngForm" (ngSubmit)="searchRestaurants(searchForm)">
        <fieldset>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label class="col-md-12 control-label">Sort by: </label>
                <div class="col-md-8">
                  <label class="radio radio-inline no-margin">
                    <input type="radio"  class="radiobox" value="best_match" name="sortby"  [ngModel]="sortby" (ngModelChange)="setSortBy($event)"/>
                    <span>Best Matched</span>
                  </label>
                  <label class="radio radio-inline">
                    <input type="radio" class="radiobox" value="distance" name="sortby" [ngModel]="sortby" (ngModelChange)="setSortBy($event)" />
                    <span>Distance</span>
                  </label>
                  <label class="radio radio-inline">
                    <input type="radio" class="radiobox" value="rating" name="sortby" [ngModel]="sortby" (ngModelChange)="setSortBy($event)" />
                    <span>Rating</span>
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <label class="control-label">Term</label>
                <input #searchterm class="form-control" type="text" placeholder="Enter term..." required name="term" [ngModel]="term" (ngModelChange)="setTerm($event)"/>
              </div>
              <div class="col-md-3">
                <label class="control-label">Location</label>
                <input #searchlocation class="form-control" type="text" placeholder="Enter city, state or zipcode..." required name="location" [ngModel]="location" (ngModelChange)="setLocation($event)"/>
              </div>
              <div class="col-md-1">
                <label class="control-label">Yelp</label>
                <button type="submit" class="btn btn-default" [disabled]="!searchForm.valid">
                  &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search"></i>&#xA0;&#xA0;&#xA0;Search
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <!-- end widget -->
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
